:root {
  --color-dukey: rgba(63, 34, 236, 0.9);
  --shadow-dukey: 0 1px 0 3px var(--color-dukey);
}

@keyframes dukey {
  from {
    color: var(--color-dukey);
  }
  to {
    color: inherit;
  }
}

:focus-visible {
  box-shadow: var(--shadow-dukey) !important;
}

[data-test="hint-token"]:focus-visible {
  border-radius: 4px;
  background: none;
}
[data-test^="skill-path"]:focus-visible {
  border-radius: 100%;
}
[data-test^="skill-path-state-active"]:focus-visible {
  border-radius: 15px;
}

._16XFG:after {
  position: absolute;
  display: block;
  width: auto !important;
  content: "";
  top: -1% !important;
  left: -1% !important;
  right: -1% !important;
  bottom: -1% !important;
  border-radius: 5px;
  border: 1px dashed;
}

._27oGP {
  font-weight: bold;
  font-synthesis: none;
}

._2_f9k {
  animation-name: dukey !important;
}

