:focus-visible {
  box-shadow: 0 1px 0 3px rgba(63, 34, 236, 0.9) !important;
}

[data-test="hint-token"]:focus-visible {
  border-radius: 4px;
  box-shadow: 0 1px 0 2px rgba(63, 34, 236, 0.9) !important;
  background: none;
}

button[data-test^="skill-path"]:focus-visible {
  border-radius: 100%;
}

button[data-test^="legendary-start-button"]:focus-visible,
button[data-test^="legendary-session-end-continue"]:focus-visible,
button[data-test^="plus-continue"]:focus-visible,
button[data-test^="plus-no-thanks"]:focus-visible,
._1RlJg button:focus-visible {
  box-shadow: 0 1px 0 3px rgba(38, 246, 99, 0.9) !important;
}

._16XFG:after {
  position: absolute;
  display: block;
  content: "";
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 9px;
  border: 1px dashed;
}

.keypress-indicator {
  position: fixed;
  z-index: 1;
  padding: 10px;
  border: solid rgb(229, 229, 229);
  border-width: 2px 2px 4px;
  background: white;
}
